<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <!-- El títol ha de ser diferent en cada vista -->
    <title> {% block title %} Plantilla Base Examen {% endblock %}</title>
    <!-- estils comuns a totes les vistes -->
    
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link rel="stylesheet" href="{{ asset('css/estils.css') }}"/>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    
    <link rel="icon" type="image/x-icon" href="{{ asset('imatges/favicon.ico') }}">

</head>
<body>
{% block header %}
<div id="embolcall">
    <header id="cap">
        <!-- NomAlumnes s'obté d'un Recurs Compartit (servei) -->
        <h1>Examen Final DAW<br/>Symfony</h1>
    </header>
    <nav id="menu">
        <ul>
            <!-- cal afegir els enllaços als apartats corresponents (rutes) -->
            <li><a href=" {{ path('inici') }}  "><img src="{{ asset('imatges/icones/inici.png') }} " alt="inici" class="icona" /> Inici</a></li>
            <li><a href="#"><img src="{{ asset('imatges/icones/peix.png')}}" alt="nou peix" class="icona" /> Nou Peix</a></li>
            <li><a href=" {{ path('recarrega') }} "><img src="{{ asset('/imatges/icones/reload.png')}}" alt="recarrega" class="icona" /> Recàrrega</a></li>
            <div class="dropdown">
                <li class="dropbtn"><a href="#"><img src="{{ asset('imatges/icones/afegirusuari.png') }}" alt="nou usuari" class="icona" />Nou Usuari</a></li>
                <div class="dropdown-content">
                    <a href="#">Admin</a>
                    <a href="#">User</a>
                </div>
            </div>
            <div class="dropdown">
                <li class="dropbtn"><a href="#"><img src="{{ asset('imatges/icones/eliminar.png') }}" alt="eliminar" class="icona" />Eliminar</a></li>
                <div class="dropdown-content">
                    <a href="#">Sardina</a>
                    <a href="#">Tauró Blanc</a>
                    <a href="#">Peix Espasa</a>
                    <a href="#">Tonyina</a>
                </div>
            </div>
            <li><a href="#"><img src="{{ asset('imatges/icones/logout.png') }}" alt="logout" class="icona" /> Logout</a></li>
        </ul>
    </nav>
{% endblock %}
    <main id="principal">
        <section id="contingut">
        {% block body %}
           <!-- Ací va el contingut dels apartats de l'examen -->
        {% endblock %}
        </section>
    </main>
    {% block footer %}
        <footer id="peu">
            <p>
                IES Lluís Simarro<br/>
                Curs 22/23<br/>
                DAW
            </p>
        </footer>
    {% endblock %}
    </div>
</body>
</html>