{% extends 'base.html.twig' %}
{% block title %}Login User{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <h2 id="tituloLogin">Iniciar Sessio:</h2>
    <div id="paragrafLogin">
        {% if error %}
            <div>{{ error.messageKey }}</div>
        {% endif %}
        <form action="{{ path('login') }}" method="post">
            <label for="email">Email:</label>
            <input type="email" id="email" name="_username" value="{{ lastUsername }}" />
            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" />
            <button type="submit">Entrar</button>
        </form>
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}