{% extends 'base.html.twig' %}
{% block title %}Nou Usuari{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div id="paragrafEquip">
        <h1>Nou Usuari</h1>
        {{ form_start(formulari) }}
        {{ form_widget(formulari) }}
        {{ form_end(formulari) }}
    </div>
    
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}